.idea
/*.php


*.source.map
*.zip
.htaccess
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.log
bs-config.js
*.xml
*.dat
*.sql


wp-admin
wp-includes

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz


## Directories

wp-content/cache
wp-content/languages
wp-content/up*
wp-content/wp-*
wp-content/*.*
wp-content/plugins/*
wp-content/themes/*.*
wp-content/themes/twenty*
# wp-content/themes/*/css-compiled/*